<!DOCTYPE html>
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div id="app" v-cloak>
      <p>Hello, {{ fullName }}!</p>
      <p>You are {{ age }} years old!</p>

      <hr />

      <label>First Name:</label>
      <input type="text" v-model="firstName" />

      <label>Middle Name:</label>
      <input type="text" @keyup.enter="updateMiddleName" />

      <label>Last Name:</label>
      <input
        type="text"
        :value="lastName"
        @input.prevent="updateLastName('You have changed your lastname!', $event)"
      />

      <button type="button" v-on:click="decrement">Become younger</button>
      <button type="button" @click="increment">Become older</button>

      <hr />

      <p><a v-bind:href="url" target="_blank">Google</a></p>
      <p><a :href="url" target="_blank">Google</a></p>

      <hr />

      <label> <input type="checkbox" v-model="isPurple" /> Purple </label>

      <div class="circle" :class="circleClasses">Hi!</div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
  </body>
</html>
